<!DOCTYPE html>

<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <div>
        Hi @Model.User.FirstName @Model.User.LastName<br/>
        <br />
        Please visit the following link to change your password:<br />
        <a href="@Model.Url">@Model.Url</a><br />
        <br />
    </div>
</body>
</html>
