<!DOCTYPE html>

<html>
<head>
    <title>RejectedRequestMail</title>
</head>
<body>
    <div>
        <a href="/@Model.User.Id">@Model.User.FirstName, @Model.User.LastName</a> has rejected an IP request form:<br />
        <a href="@Model.Url">@Model.Url</a>
    </div>
</body>
</html>
