<header>
    <div class="table fill" style="height: auto;">
        <div class="table-row fill">
            <div class="table-cell left-panel">
            </div>
            <div class="table-cell main-panel">
                <a href="/" class="logo-wrapper"><div class="logo"></div></a>
                <div class="title-wrapper">
                    <div class="title">Servers Requests</div>
                </div>
            </div>
            <div class="table-cell right-panel">
            </div>
        </div>
    </div>
</header>