@{
    ViewBag.Title = "ChangePassword";
}

<div class="account-box change-box">
    <form action="/ChangePassword?token=@ViewBag.Token" method="post">
    <h2>Change your password</h2>
    <div class="form-element">
        <label>
            <strong>New Password</strong>
            <input name="password" type="password" />
        </label>
    </div>
    <div class="form-element">
        <label>
            <strong>Confirm Password</strong>
            <input name="confirmPassword" type="password" />
        </label>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="error-message">@ViewBag.ErrorMessage</div>
    }
    
    <input type="submit" class="button submit-button" value="Save Changes" />
    </form>
</div>
