@{
    ViewBag.Title = "ResetPassword";
}
<div class="account-box reset-box">
    <form action="/ResetPassword" method="post">
    <h2>
        Reset your password</h2>
    <div class="form-element">
        <label>
            <strong>Email</strong>
            <input name="email" type="text" />
        </label>
    </div>
    <input type="submit" class="button submit-button" value="Reset" />
    </form>
</div>
